# Configuration for coverage.py

[run]
branch = True
source = gnuplot_kernel
include = gnuplot_kernel/*
omit =
    setup.py
    gnuplot_kernel/__main__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    def register_ipython_magics
    def load_ipython_extension
