*.py[co]

# Packages
dist/
build/
*.egg/
*.egg-info/
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
htmlcov/
.pytest_cache
coverage.xml

# other
.cache
examples/.ipynb_checkpoints

# Catch all unnamed notebook files
**/Untitled*.ipynb

# uv
uv.lock
